/*
 * @author learnercys (learner.cys@gmail.com)
 */
.h1 {
    -fx-font-size: 18px;
}

.header {
    -fx-padding: 15px;
}

TextArea {
    -fx-padding: 15px;
}
.text-center {
    -fx-text-alignment: center;
}
